* text=auto

## Repository Configuration
###########################
.editorconfig    text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

## Documentation Files
######################
*.md         text
*.pml        text linguist-language=PML
*.txt        text
LICENSE      text

## Scripts
##########
*.bat   text eol=crlf
*.com   text eol=crlf
*.sh    text eol=lf
